
<h4 class="font-weight-bold mb-3 text-center text-black"><%=chat.name%></h5>
<ul class="list-unstyled text-black">
  <div class="container overflow-auto" style= "max-height: 58vh">
    <% chat.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
  <li class="mb-3">
    <div class="container mt-1">
      <div data-mdb-input-init class="form-outline form-black">
        <% message = chat.messages.new %>
          <% user_chat = chat.user_chats.find_by(user: current_user) %>
          <%= render "messages/form", message:, user_chat: %>
        <div class="container mt-1">
        </div>
      </div>
    </div>
  </li>
</ul>
