<section style="max-height: 1000px; min-height: 650px;">
  <div class="jumbotron text-center d-flex align-items-center mb-300" style="height: 400px;">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col d-flex justify-content-center">
          <%= image_tag 'laptop.png', alt: 'Laptop Image', class:"laptop-image d-flex me-3 shadow-1-strong" %>
        </div>
      </div>
      <div class="py-4">
        <h3 class="jumbotron-heading">See Your Projects and Chats</h3>
      </div>
      <div class="container">
        <div class="row gy-4 d-flex justify-content-around">
          <div class="col-xl-4 col-lg-6 aos-init aos-animate d-flex justify-content-around" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
              <div>
                <h2 class="title red">1</h2>
                <p class="description">Select your current construction project.</p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 aos-init aos-animate d-flex justify-content-around" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
              <div>
                <h2 class="title red">2</h2>
                <p class="description">Select the chat you want to see or respond to.</p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 aos-init aos-animate d-flex justify-content-around" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
              <div>
                <h2 class="title red">3</h2>
                <p class="description">Send a message to your team.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
