<div class="container mb-15">
  <div class="row gy-4 d-flex justify-content-around">
    <div class="col-xl-3 col-lg-6 aos-init aos-animate d-flex justify-content-around" data-aos="fade-up" data-aos-delay="100">
      <div class="service-item d-flex">
        <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
        <div>
          <h4 class="title red text-center">Centralized Communication</h4>
          <p class="description text-center">Hosts multiple chat rooms and direct messaging within a single platform</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 aos-init aos-animate d-flex justify-content-around" data-aos="fade-up" data-aos-delay="200">
      <div class="service-item d-flex">
        <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
        <div>
          <h4 class="title red text-center">Easier Coordination</h4>
          <p class="description text-center">Allows job descriptions and coordination plans to be shared easily</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 aos-init aos-animate d-flex justify-content-around" data-aos="fade-up" data-aos-delay="300">
      <div class="service-item d-flex">
        <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
        <div>
          <h4 class="title red text-center">Accessible Contact Information</h4>
          <p class="description text-center">Users will have access to eachothers contact details and job titles, facilitating additional easy and direct communication</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 aos-init aos-animate d-flex justify-content-around" data-aos="fade-up" data-aos-delay="300">
      <div class="service-item d-flex">
        <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
        <div>
          <h4 class="title red text-center">Work-Life Separation</h4>
          <p class="description text-center">Keeps work-related communication separate from personal channels</p>
        </div>
      </div>
    </div>
  </div>
</div>
