<section class="features-section mb-5 pb-5" role="region" aria-labelledby="features_heading">
  <h3 id="features_heading" class="text-center mb-4">Key Benefits</h3>
  <div class="container">
    <div class="row gy-4 d-flex justify-content-around">
      <div class="col-xl-3 col-lg-6 aos-init aos-animate d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item d-flex flex-column align-items-center text-center" role="article">
          <div class="icon mb-3">
            <i class="bi bi-briefcase" aria-hidden="true"></i>
          </div>
          <h4 class="title red mb-2" id="feature1_heading">Centralized Communication</h4>
          <p class="description" aria-labelledby="feature1_heading">Hosts multiple chat rooms and direct messaging within a single platform</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 aos-init aos-animate d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item d-flex flex-column align-items-center text-center" role="article">
          <div class="icon mb-3">
            <i class="bi bi-card-checklist" aria-hidden="true"></i>
          </div>
          <h4 class="title red mb-2" id="feature2_heading">Easier Coordination</h4>
          <p class="description" aria-labelledby="feature2_heading">Allows job descriptions and coordination plans to be shared easily</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 aos-init aos-animate d-flex justify-content-center" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item d-flex flex-column align-items-center text-center" role="article">
          <div class="icon mb-3">
            <i class="bi bi-bar-chart" aria-hidden="true"></i>
          </div>
          <h4 class="title red mb-2" id="feature3_heading">Accessible Contact Information</h4>
          <p class="description" aria-labelledby="feature3_heading">Users will have access to each other's contact details and job titles, facilitating additional easy and direct communication</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 aos-init aos-animate d-flex justify-content-center" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item d-flex flex-column align-items-center text-center" role="article">
          <div class="icon mb-3">
            <i class="bi bi-bar-chart" aria-hidden="true"></i>
          </div>
          <h4 class="title red mb-2" id="feature4_heading">Work-Life Separation</h4>
          <p class="description" aria-labelledby="feature4_heading">Keeps work-related communication separate from personal channels</p>
        </div>
      </div>
    </div>
  </div>
</section>
