<section>
  <h2 class="mb-5">Features</h2>
  <div class="row mb-5">
    <div class="col-lg-6 d-flex justify-content-center">
      <%= image_tag 'add-user.gif', alt: 'Members seeing and adding new members', class: 'gif' %>
    </div>
    <div class="col-lg-6 py-5" >
      <h4 class="text-center">See and Add Members to Chat</h4>
      <p class="text-center">Click Members to see all members in chat</p>
      <p class="text-center">Click Add User to add a new member to chat</p>
    </div>
      
  </div>
  <div class="row my-5">
    <div class="col-lg-6 d-flex justify-content-center">
      <%= image_tag 'add-user.gif', alt: 'Members seeing and adding new members', class: 'gif' %>
    </div>
    <div class="col-lg-6 py-5">
      <h4 class="text-center">See and Add Members to Chat</h4>
      <p class="text-center">Click Members to see all members in chat</p>
      <p class="text-center">Click Add User to add a new member to chat</p>
    </div>
  </div>
</section>
