<section>
  <h3 class="pt-1 d-flex justify-content-center">All Users</h3>
  <div class="row card-deck">
    <% @users.each do |user| %>
      <%= render "users/users", user: user,  users: @users, user_chat: @user_chat%>
    <% end %>
  </div>
</section>
