
<section style="height: 800px;">
  <div class="jumbotron text-center d-flex  align-items-center mb-300" style="height: 400px;">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col d-flex justify-content-center">
          <%= image_tag 'laptop.png', alt: 'Laptop Image', class:"laptop-image d-flex me-3 shadow-1-strong" %>
        </div>
      </div>
      <div class="pt-2">
        <h1 class="jumbotron-heading">BuiltBetter</h1>
      </div>
      
      <div class="d-flex justify-content-center align-items-center">
      <h4>See Your Chats:</h4>
    </div>
    <div class="d-flex justify-content-center align-items-center">
    <% if current_user&.projects&.first&.chats&.first %>
        <%= link_to "/chat/#{current_user.projects.first.id}/#{current_user.projects.first.chats.first.id}", class: "nav-link" do %> 
          <i class="fa-solid fa-comments"></i>
          Chat Here
        <% end %> 
      <% else %>
        <p>No chats available.</p>
      <% end %>
    </div>
    </div>
  </div>
</section>
