
<section style="height: 800px;">
  <div class="jumbotron text-center d-flex  align-items-center mb-300" style="height: 400px;">
    <div class="container">
      <h1 class="jumbotron-heading">Construction Chat</h1>
      <div class="d-flex justify-content-center align-items-center">
      <h4>See your chats:</h4>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <%= link_to "/chat/#{current_user.projects.first.id}/#{current_user.projects.first.chats.first.id}", class: "nav-link" do %>
        <i class="fa-solid fa-comments"></i>
        Chat Here
      <% end %>
    </div>
    </div>
  </div>
</section>
