
<section id="hero-856">
    <div class="cs-container mb-5">
        <div class="cs-content">
            <span class="cs-topper">Modern and Professional</span>
            <h1 class="cs-title">Live Chat for Construction and Management Teams</h1>
            <p class="cs-text">
                Built To Help Construction Get Things Built Better!
            </p>
              <% if user_signed_in? %>
                <% if current_user&.projects&.first&.chats&.first %>
                  <%= link_to "/chat/#{current_user.projects.first.id}/#{current_user.projects.first.chats.first.id}", class: "nav-link cs-button-solid" do %> 
                    Chat Here
                  <% end %> 
                <% else %>
                  <p>No chats available.</p>
                <% end %>
              <% else %>
              <div class="row">
                <div class="col mb-2">
                  <%= link_to "Sign In", new_user_session_path, class: "nav-link cs-button-solid" %>
                </div>
                <div class="col mb-2">
                  <%= link_to "Make Account", new_user_registration_path, class: "nav-link cs-button-solid" %>
                </div>
              </div>
              <% end %>
        </div>
        <!--Hero Image-->
        <picture class="cs-picture">
            <!--Mobile-->
            <source media="(max-width: 600px)" srcset="https://i.pinimg.com/736x/4e/47/4a/4e474a7cabd7511277bde17597b63572.jpg">
            <!--Tablet-->
            <source media="(min-width: 601px)" srcset="https://i.pinimg.com/736x/4e/47/4a/4e474a7cabd7511277bde17597b63572.jpg">
            <!--Desktop-->
            <img aria-hidden="true" decoding="async" src="https://i.pinimg.com/736x/4e/47/4a/4e474a7cabd7511277bde17597b63572.jpg" alt="...." width="570" height="701">
            </picture>
    </div>
</section>

<section style="max-height: 1000px; min-height: 650px;">
  <div class="jumbotron text-center d-flex  align-items-center mb-300" style="height: 400px;">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col d-flex justify-content-center">
          <%= image_tag 'laptop.png', alt: 'Laptop Image', class:"laptop-image d-flex me-3 shadow-1-strong" %>
        </div>
      </div>
      <div class="py-4">
        <h3 class="jumbotron-heading">See Your Projects and Chats</h3>
      </div>
    <div class="container">
      <div class="row gy-4 d-flex  justify-content-around">
        <div class="col-xl-4 col-lg-6 aos-init aos-animate d-flex justify-content-around" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item d-flex">
            <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
            <div>
              <h2 class="title red">1</h2>
              <p class="description">Select your current construction project.</p>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-lg-6 aos-init aos-animate d-flex justify-content-around" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item d-flex">
            <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
            <div>
              <h2 class="title red">2</h2>
              <p class="description">Select the chat you want to see or respond to.</p>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-lg-6 aos-init aos-animate d-flex justify-content-around" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item d-flex">
            <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
            <div>
              <h2 class="title red">3</h2>
              <p class="description">Send a message to your team.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-5 pt-5">
  <div class="row d-flex justify-content-center">
    <hr>
    <div class="col-md-10 col-xl-8 text-center">
      <h3 class="mb-4">Testimonials</h3>
      <p class="mb-4 pb-2 mb-md-5 pb-md-0">
        Hear how the experience has been for other users.
      </p>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-4 mb-5 mb-md-0">
      <div class="d-flex justify-content-center mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
          class="rounded-circle shadow-1-strong" width="150" height="150" />
      </div>
      <h5 class="mb-3">Maria Smantha</h5>
      <h6 class="mb-3 red">Project Manager</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>
          Creating projects and channels for distinct employees to chat amongst themselves is very simple and fluent.
        <i class="fas fa-quote-right pe-2"></i>
      </p>
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star-half-alt fa-sm text-warning"></i>
        </li>
      </ul>
    </div>
    <div class="col-md-4 mb-5 mb-md-0">
      <div class="d-flex justify-content-center mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
          class="rounded-circle shadow-1-strong" width="150" height="150" />
      </div>
      <h5 class="mb-3">Lisa Cudrow</h5>
      <h6 class="mb-3 red">Dispatcher</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>
          I can now send out job descriptions and get mass responses so much easier!
        <i class="fas fa-quote-right pe-2"></i>
      </p>
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
      </ul>
    </div>
    <div class="col-md-4 mb-0">
      <div class="d-flex justify-content-center mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
          class="rounded-circle shadow-1-strong" width="150" height="150" />
      </div>
      <h5 class="mb-3">John Smith</h5>
      <h6 class="mb-3 red">Heavy Haul Truck Driver</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>
          I love how I can easily get contact info of my peers that I haven't worked with before.
        <i class="fas fa-quote-right pe-2"></i>  
      </p>
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
      </ul>
    </div>
  </div>
</section>
