<footer class="bg-body-tertiary text-center text-lg-start">
  <div class="text-center p-3" style="background-color: #f2f2f2;">
    © 2024 Copyright:
    <a class="text-body" href="">BuiltBetter</a>
  </div>
</footer>
