<%= form_with(model: [@current_project, chat], local: false) do |form| %>
    </form>
      <div class="row gx-3">
        <div class="md-6"> 
          <a href="#" class="btn btn-primary d-flex justify-content-center align-items-center"  type="button">Message</a> 
        </div>
      </div>
      <%= form.hidden_field :name, value: "#{current_user.name} & #{}" %>
      <%= form.hidden_field :description, value: "nil" %>
      <div class=""> 
    </form>
  </div>
<% end %>
