
<div id="full_chat_container">
  <section class="gradient-custom">
    <div class="container py-1">
      <div class="row">
        <%= render "projects/project_column", projects: @projects, user: current_user%>
        <%= render "chats/chat_column", project: @current_project, chats: @chats, user: current_user%>
        <div class="col">
        <%= render "messages/message_column", chat: @current_chat, messages: @messages, user: current_user%>
        </div>
      </div>
    </div>
  </section>
</div>
