<div id="full_chat_container">
  <section class="gradient-custom">
    <div class="container py-1">

      <div class="row">
        <%= render "projects/project_column", projects: @projects%>
        <%# ------ %>
        <%= render "chats/chat_column", chats: @chats%>
        <%# ------ %>
        <div class="col">
          <h5 class="font-weight-bold mb-3 text-center text-black">Chat Name...</h5>
          <ul class="list-unstyled text-black">
            <div class="container overflow-auto" style= "max-height: 58vh">
              <% @messages.each do |message| %>
                <%= render "messages/message", message: message %>
              <% end %>
            </div>
            <li class="mb-3">
              <div class="container mt-1">
                <div data-mdb-input-init class="form-outline form-black">
                  <textarea class="form-control" id="textAreaExample3" rows="4"></textarea>
                  <div class="container mt-1">
                    <label class="form-label" for="textAreaExample3">Message</label>
                    <button  
                      type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-rounded float-end">Send
                    </button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</div>
