<div id="full_chat_container">
  <section class="gradient-custom">
    <div class="container py-1">
      <div class="row">
        <%= render "projects/project_column", projects: @projects, user: current_user, user_chats: @users_user_chats%>
        <%= render "chats/chat_column", project: @current_project, user: current_user %>
        <div class="col">
        <%= render "messages/message_column", chat: @current_chat, user: current_user%>
        </div>
      </div>
    </div>
  </section>
</div>

<%# The list of project they have a user_chat_id with BUT for private chats just show the chats they are in within their dms %>
