<div id="full_chat_container">
  <section class="gradient-custom">
    <div class="container py-1">
      <div class="row">
        <%= render "projects/project_column", user_chats: @users_user_chats%>
        <%= render "chats/chat_column", private_chats:  @private_chats %>
        <div class="col">
        <%= render "messages/message_column", chat: @current_chat, user: current_user%>
        </div>
      </div>
    </div>
  </section>
</div>

<%# action cable %>
<%# good job %>
