<div class="col-md-3">
  <h5 class="font-weight-bold mb-3 text-center text-black">Projects</h5>
  <div class="card mask-custom">
    <div class="card-body overflow-auto" style= "max-height: 85vh">
      <ul class="list-unstyled mb-0">
          <% user.projects.each do |project| %>
            <%= render "projects/project", project: project %>
            <hr>
          <% end %>
      </ul>
    </div>
  </div>
</div>
