<h1>Editing user chat</h1>

<%= render "form", user_chat: @user_chat %>

<br>

<div>
  <%= link_to "Show this user chat", @user_chat %> |
  <%= link_to "Back to user chats", user_chats_path %>
</div>
