 <div class="col-xl-8" >
    <div class="card mb-4 ">
      <div class="card-header"><h3>Editing User Chat</h3></div>
      <%= render "form", user_chat: @user_chat, users: @users %>

<br>

<div>
  <%= link_to "Show this user chat", @user_chat %> |
  <%= link_to "Back to user chats", user_chats_path %>
</div>
