.desk-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}
.project-mb {
  display: none;
}
.project-dt {
  display: block;
}

@media screen and (max-width: 800px) {
  .project-dt {
    display: none;
  }
  .project-mb {
    display: block;
  }
  .desk-div {
    flex-direction: column;
  }
}
