.body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #f0f0f0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}
.login-container {
	background: #ffffff;
	padding: 2rem;
	border-radius: 12px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 500px;
	min-width: 400px;
	border: 1px solid #ddd;
	padding-top: 70px;
	padding-bottom: 70px;
	margin-bottom: 70px;
}
h2 {
	font-size: 1.75rem;
	margin-bottom: 1.5rem;
	text-align: center;
	color: #333;
}
.form-inputs {
	margin-bottom: 1.5rem;
}
.form-inputs .form__input {
	display: block;
	width: 100%;
	padding: 0.75rem;
	margin-bottom: 1rem;
	border: 1px solid #ddd;
	border-radius: 8px;
	font-size: 1rem;
	transition: border-color 0.3s ease;
}
.form-inputs .form__input:focus {
	border-color: #D2042D;
	outline: none;
}
.form-inputs .form__input::placeholder {
	color: #888;
}
.form-actions {
	text-align: center;
}
.form-actions .btn-submit {
	background-color: #D2042D;
	color: #ffffff;
	border: none;
	padding: 0.75rem 1.5rem;
	border-radius: 8px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
.form-actions .btn-submit:hover {
	background-color: #a1031c;
}
.links {
	margin-top: 1rem;
	text-align: center;
}
.links a {
	color: #D2042D;
	text-decoration: none;
	font-size: 0.875rem;
}
.links a:hover {
	text-decoration: underline;
}
.header-red{
	color: #D2042D;
}
